<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="3.3.0" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.Net.Http" version="2.1.10" targetFramework="net452" userInstalled="true" />
  <package id="RichardSzalay.MockHttp" version="1.2.1" targetFramework="net452" userInstalled="true" />
  <package id="xunit" version="2.0.0" targetFramework="net452" userInstalled="true" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net452" userInstalled="true" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net452" userInstalled="true" />
  <package id="xunit.core" version="2.0.0" targetFramework="net452" userInstalled="true" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net452" userInstalled="true" />
  <package id="xunit.runner.visualstudio" version="2.0.0" targetFramework="net452" userInstalled="true" />
</packages>